@model FrontDeskCheckinWeb.ViewModels.Export.Index
@{
    ViewBag.Title = "Index";
}

<h2>Export Visitor Log</h2>

@using (Html.BeginForm("Excel", "Export", FormMethod.Post, new { @class= "form-horizontal" }))
{
        <div class="form-group">
            <label for="building" class="col-md-2 control-label">Building</label>
            <div class="col-md-10">
                @Html.DropDownList("building", Model.Buildings, new { @class="form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="reportdate" class="col-md-2 control-label">Date</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="reportdate" name="reportdate" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export" class="btn btn-default" />
            </div>
        </div>
} 

@section scripts {
<script type="text/javascript">
    $(function () {
        $("#reportdate").datepicker();
    });
</script>
}